# Ignore raw and processed data directories
models/*.pth
!models/.gitkeep
data/*
wav2vec2_finetuned_models/checkpoint-6630

logs/profiling_logs/*.lprof
__pycache__/
*.ipynb
.ruff_cache/
src.egg-info/
*.err
*.out